grafana:
  enabled: true
  adminPassword: admin  # I need to change later or move to secret
  defaultDashboardsEnabled: true

prometheus:
  enabled: true
  prometheusSpec:
    retention: 7d
    serviceMonitorSelectorNilUsesHelmValues: false

alertmanager:
  enabled: true
