grafana:
  enabled: true
  adminPassword: admin  # change later or move to secret
  defaultDashboardsEnabled: true

prometheus:
  enabled: true
  prometheusSpec:
    retention: 7d
    serviceMonitorSelectorNilUsesHelmValues: false

    replicas: 1

    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: local-path
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 5Gi

alertmanager:
  enabled: true
