apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring
  namespace: argocd
spec:
  project: default

  sources:
    - repoURL: https://prometheus-community.github.io/helm-charts
      chart: kube-prometheus-stack
      targetRevision: 80.8.0
      helm:
        releaseName: monitoring
        valueFiles:
          - $values/apps/monitoring/helm/values.yaml

    - repoURL: https://github.com/sanjay-k598/homelab-gitops.git
      targetRevision: main
      ref: values

    - repoURL: https://github.com/sanjay-k598/homelab-gitops.git
      targetRevision: main
      path: apps/monitoring
      directory:
        recurse: false

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  ignoreDifferences:
    - group: apiextensions.k8s.io
      kind: CustomResourceDefinition
      jsonPointers:
        - /metadata/annotations
        - /metadata/managedFields

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
