apiVersion: apps/v1
kind: Deployment
metadata:
  name: portfolio
  namespace: portfolio
spec:
  replicas: 2
  selector:
    matchLabels:
      app: portfolio
  strategy:
    type: RollingUpdate
    rollingUpdate:
       masSurge: 1
       maxUnavailable: 0
  template:
    metadata:
      labels:
        app: portfolio
    spec:
      containers:
        - name: portfolio
          image: sanjaykhambam/sanjay-portfolio:b96932a
          imagePullPolicy: Always
          ports:
            - containerPort: 80
